*{
    margin: 0;
    padding: 0;
}
main{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color:green;
    justify-content: center;
    flex-direction: column;
}
.box{
    width: 90%;
    height: 90vh;
    box-shadow: 2px 2px 4px 4px grey;
}
.box img{
    width: 90%;
    height: 90vh;
    position: absolute;
    z-index: -1;
}
#slider {
    opacity:1;
    transition: opacity 1s; 
}

#slider.fadeOut {
    opacity:0.2;
}
